<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="Tests/bootstrap.php"
        >

    <testsuites>
        <testsuite name="Talkback Test Suite">
            <directory>./Tests/Talkback/</directory>
        </testsuite>
        <testsuite name="Net_Growl Test Suite">
            <directory>./Tests/Net_Growl/Growl/</directory>
        </testsuite>
    </testsuites>

</phpunit>
